.center{
    text-align: center;
}
.valor-sm{
	width: 70px; 
	font-size: 9pt;
}
.no-padding{
	padding: 0px !important;
}

.bold{
	font-weight: bold;
}
.fondo-sum-sem{
	background-color: #dedaff; 
	border: 1px #ccc solid;
}
