<!-- content starts -->
<div>
	<ul class="breadcrumb">
		<li>
			<a ui-sref="panel">Inicio</a>
		</li>
		<li>
			<a ui-sref="panel.entidades">Entidades</a>
		</li>
	</ul>
</div>




<div class="row">
	<div class="box col-md-12">
		<div class="box-inner">
			<div class="box-header well">
				<h2>
					<i class="glyphicon glyphicon-info-sign"></i> Distritos
				</h2>
			
				<div class="box-icon"></div>
			</div>
			
			
			<div class="box-content row">
				
				<div class="col-sm-12">
					
					
					<div ng-show="verCrearDistrito" class="row" style="margin-bottom: 50px">
						<div class="box col-md-12">
							<div class="box-inner">
								<div class="box-header well">
									<h2>
										<i class="glyphicon glyphicon-plus"></i> Nuevo distrito
									</h2>
								
									<div class="box-icon"></div>
								</div>
								
								
								<div class="box-content row">
									
									<div class="col-sm-12">
										<form ng-submit="insertar_distrito(distrito_new)">
											<div class="row">
												<div class="form-group col-sm-12">
													<label for="nombre_distrito_new">Nombre</label>
													<input required="required" class="form-control" id="nombre_distrito_new" type="text" placeholder="Nombre" ng-model="distrito_new.nombre">
												</div>
											</div>
											
											<div class="row">
												<div class="form-group col-sm-6">
														<label for="alias_distrito_new">Alias</label>
														<input required="required" class="form-control" id="alias_distrito_new" type="text" placeholder="Alias" ng-model="distrito_new.alias">
												</div>
												
												<div class="form-group col-sm-6">
													<label>Pastor</label>
													
													<ui-select ng-model="distrito_new.pastor" style="width: 100%;" theme="bootstrap">
														<ui-select-match placeholder="Pastor">
															<span ng-bind="$select.selected.nombres + ' ' + $select.selected.apellidos"></span>
														</ui-select-match>
														<ui-select-choices repeat="item in (usuarios | filter:{tipo:'Pastor'}  |  filter: $select.search) track by $index">
															<span ng-bind-html="item.nombres + ' ' + item.apellidos | highlight: $select.search"></span>
														</ui-select-choices>
													</ui-select>
													
												</div>
											</div>
											
											<div class="row">
												<div class="form-group col-sm-6">
														<label>Tesorero</label>
														
														<ui-select ng-model="distrito_new.tesorero" style="width: 100%;" theme="bootstrap">
															<ui-select-match placeholder="Tesorero">
																<span ng-bind="$select.selected.nombres + ' ' + $select.selected.apellidos"></span>
															</ui-select-match>
															<ui-select-choices repeat="item in (usuarios | filter:{tipo:'Tesorero'}  |  filter: $select.search) track by $index">
																<span ng-bind-html="item.nombres + ' ' + item.apellidos | highlight: $select.search"></span>
															</ui-select-choices>
														</ui-select>
														
													</div>
								
												<div class="col-sm-6">
													<label for="zona_distrito_new">Zona</label>
													<input required="required" class="form-control" id="zona_distrito_new" type="text" placeholder="Zona" ng-model="distrito_new.zona">
												</div>
											</div>
											
											<div class="center">
												<input class="btn btn-warning " type="button" ng-click="cancelar_crear_distrito()" value="Cancelar">
												<input class="btn btn-primary " type="submit" value="Guardar distrito">
											</div>
					
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
	
					
					<button class="btn btn-primary" ng-show="!verCrearDistrito" ng-click="crear_distrito()">Crear distrito</button>
						
					<table class="table">
						<thead>
							<tr>
								<th scope="col">ID </th>
								<th scope="col">Nombre</th>
								<th scope="col">Alias</th>
								<th scope="col">Pastor</th>
								<th scope="col">celular</th>
							</tr>
						</thead>
						<tbody>

							<tr ng-repeat="distrito in distritos">

								<td>{{distrito.rowid}}</td>
								<td>{{distrito.nombre}}</td>
								<td>{{distrito.alias}}</td>
								<td>{{distrito.pastor_nombres}}</td>
								<td>{{distrito.celular}}</td>
								<td scope="col" class=" glyphicon glyphicon-pencil btn btn-primary" href="" ng-click="modificar_distrito(distrito)"></td>
								<td scope="col" class="glyphicon glyphicon-remove btn btn-danger" href="" ng-click="eliminar_distrito(distrito)"></td>
							</tr>




						</tbody>
					</table>
				</div>
				
			</div>
		</div>
	</div>
</div>




<div class="row">
	<div class="box col-md-12">
		<div class="box-inner">
			<div class="box-header well">
				<h2>
					<i class="glyphicon glyphicon-info-sign"></i> Iglesias
				</h2>
			
				<div class="box-icon"></div>
			</div>
			
			
			<div class="box-content row">
				
				<div class="col-sm-12">
					
					
					<div ui-grid="gridOptions" ></div>
					
					
					<div ng-show="verCrearDistrito" class="row" style="margin-bottom: 50px">
						<div class="box col-md-12">
							<div class="box-inner">
								<div class="box-header well">
									<h2>
										<i class="glyphicon glyphicon-plus"></i> Nueva iglesia
									</h2>
								
									<div class="box-icon"></div>
								</div>
								
								
								<div class="box-content row">
									
									<div class="col-sm-12">
										<form ng-submit="insertar_distrito(iglesia_new)">
											<div class="row">
												<div class="form-group col-sm-12">
													<label for="nombre_iglesia_new">Nombre</label>
													<input required="required" class="form-control" id="nombre_iglesia_new" type="text" placeholder="Nombre" ng-model="iglesia_new.nombre">
												</div>
											</div>
											
											<div class="row">
												<div class="form-group col-sm-6">
														<label for="alias_iglesia_new">Alias</label>
														<input required="required" class="form-control" id="alias_iglesia_new" type="text" placeholder="Alias" ng-model="iglesia_new.alias">
												</div>
												
												<div class="form-group col-sm-6">
													<label>Distrito</label>
													
													<ui-select ng-model="iglesia_new.pastor" style="width: 100%;" theme="bootstrap">
														<ui-select-match placeholder="Distrito">
															<span ng-bind="$select.selected.nombre"></span>
														</ui-select-match>
														<ui-select-choices repeat="item in (iglesias |  filter: $select.search) track by $index">
															<span ng-bind-html="item.nombre | highlight: $select.search"></span>
														</ui-select-choices>
													</ui-select>
													
												</div>
											</div>
											
											<div class="row">
												<div class="form-group col-sm-6">
														<label>Tesorero</label>
														
														<ui-select ng-model="iglesia_new.tesorero" style="width: 100%;" theme="bootstrap">
															<ui-select-match placeholder="Tesorero">
																<span ng-bind="$select.selected.nombres + ' ' + $select.selected.apellidos"></span>
															</ui-select-match>
															<ui-select-choices repeat="item in (usuarios | filter:{tipo:'Tesorero'}  |  filter: $select.search) track by $index">
																<span ng-bind-html="item.nombres + ' ' + item.apellidos | highlight: $select.search"></span>
															</ui-select-choices>
														</ui-select>
														
													</div>
								
												<div class="col-sm-6">
													<label for="zona_distrito_new">Zona</label>
													<input required="required" class="form-control" id="zona_distrito_new" type="text" placeholder="Zona" ng-model="iglesia_new.zona">
												</div>
											</div>
											
											<div class="center">
												<input class="btn btn-warning " type="button" ng-click="cancelar_crear_distrito()" value="Cancelar">
												<input class="btn btn-primary " type="submit" value="Guardar distrito">
											</div>
					
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
	
					
					<button class="btn btn-primary" ng-show="!verCrearDistrito" ng-click="crear_distrito()">Crear iglesia</button>
						
					<table class="table">
						<thead>
							<tr>
								<th scope="col">ID </th>
								<th scope="col">Nombre</th>
								<th scope="col">Alias</th>
								<th scope="col">Pastor</th>
								<th scope="col">celular</th>
							</tr>
						</thead>
						<tbody>

							<tr ng-repeat="iglesia in iglesias">

								<td>{{iglesia.rowid}}</td>
								<td>{{iglesia.nombre}}</td>
								<td>{{iglesia.alias}}</td>
								<td>{{iglesia.pastor_nombres}} {{iglesia.pastor_apellidos}}</td>
								<td>{{iglesia.celular}}</td>
								<td scope="col" class=" glyphicon glyphicon-pencil btn btn-primary" href="" ng-click="modificar_distrito(iglesia)"></td>
								<td scope="col" class="glyphicon glyphicon-remove btn btn-danger" href="" ng-click="eliminar_distrito(iglesia)"></td>
							</tr>




						</tbody>
					</table>
				</div>
				
			</div>
		</div>
	</div>
</div>

	

